
body {
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  height: 2000px;
}
* {
  margin: 0;
}
video {
  top: 0;
  width: 120%;
  max-height: 100vh;
  position: absolute;
  transform: rotateY(180deg) translateX(-5%);
}
@media (max-width: 720px) {
  video {
    transform: translateX(-3%);
    width: 150%;
  }
  .jumbotron .jumbotron__content {
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
    text-align: center;
  }
  .jumbotron .jumbotron__content__divider {
    align-self: center;
  }
  .jumbotron .jumbotron__content__title {
    margin: 5%;

    font-size: 2.5rem;
  }
  .jumbotron .jumbotron__content__caption {
    margin: 10%;

    font-size: 1.3rem;
  }
  .jumbotron__content__button {
    align-self: center;
  }
}

.overlay {
  top: 0;

  position: absolute;
  width: 100%;
  height: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 212, 255, 0) 100%
  );
  z-index: 1;
  max-height: 100vh;
}
.jumbotron {
  width: 100vw;
  height: 100vh;
  background: black;
  /* display: flex; */
}
.jumbotron__content {
  pointer-events: none;
  margin: 8rem 0 0 10%;
  display: flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  z-index: 1000;
  color: white;
}
.jumbotron__content * {
  pointer-events: auto;
}
.jumbotron__content__title {
  text-transform: uppercase;
  font-size: 3.5rem;
}
.jumbotron__content__divider {
  margin-top: 1rem;
  width: 50%;
  height: 4px;
  background: white;
}
.jumbotron__content__caption {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.8rem;
}
.jumbotron__content__button {
  border: 2px solid white;
  background: transparent;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.3rem;
  max-width: 200px;

  transition: 0.5s ease;
}

button:hover {
  border: 2px solid #eb6242;

  background-color: #eb6242;

  cursor: pointer;
}
button:hover i {
  transition: 0.5s ease;
  transform: rotateZ(90deg);
}
i {
  transition: 0.5s ease;
  margin-left: 10px;
}
.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
  position: absolute;
}
.nav-item {
  cursor: pointer;
  font-size: 2.1rem;
  margin: 2rem 2.5rem 2rem 2rem;
}
.nav-brand {
  font-weight: 400;
  color: #eb6242;
}
.nav-hamburger {
  transform: scaleY(0.7) translateY(15%);
  /* transform: scaleX(1.5) translateY(30%); */
}

.paint-hover {
  display: inline-block;
  color: #eb6242;
  overflow: hidden;
  background: linear-gradient(to right, #eb6242, #eb6242 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.paint-hover:hover {
  background-position: 0 100%;
}
