$sal-slide-offset: 150px;
$sal-animation-duration: 2s !default;

@import "../node_modules/sal.js/src/sal.scss";
body {
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  height: 2000px;
}

* {
  margin: 0;
}
video {
  top: 0;
  width: 120%;
  max-height: 100vh;
  transform: rotateY(180deg) translateX(-5%);
}
@media (max-width: 720px) {
  video {
    transform: translateX(-3%);
    width: 150%;
  }
  .navbar .nav-brand {
    font-size: 1.5rem;
  }
  .navbar .nav-item {
    margin: 1rem;
  }

  .jumbotron .jumbotron__content {
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
    text-align: center;
  }
  .jumbotron .jumbotron__content__divider {
    align-self: center;
  }
  .jumbotron .jumbotron__content__title {
    margin: 1rem 0;
    font-size: 2rem;
  }
  .jumbotron .jumbotron__content__caption {
    margin: 1rem 0;
    font-size: 1rem;
  }
  .jumbotron__content__button {
    align-self: center;
  }
  #hamburger-menu ul {
    align-items: flex-start;
    margin: 0;
    width: 100vw;
    margin-top: 10vh;
    height: 90vh;
    text-align: right;
  }
  #hamburger-menu li {
    margin-left: 10%;
    margin-top: 2rem;
    font-size: 3rem;
  }
  .navbar #nav-icon4.nav-item {
    transform: scale(0.5) translateY(-0.4rem);
  }
}

.overlay {
  top: 0;

  position: absolute;
  width: 100%;
  height: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 212, 255, 0) 100%
  );
  z-index: 1;
  max-height: 100vh;
}
.jumbotron {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 80%
    ),
    url("./assets/mars-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% top;
  overflow-x: hidden;

  width: 100vw;
  height: 100vh;
  /* background: black; */
}
.jumbotron__content {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  z-index: 1000;
  color: white;
  height: 100%;
  margin: 0 5rem;
  justify-content: center;
}
.jumbotron__content * {
  pointer-events: auto;
}
.jumbotron__content__title {
  text-transform: uppercase;
  font-size: 3rem;
}
.jumbotron__content__divider {
  margin-top: 1rem;
  width: 50%;
  height: 4px;
  background: white;
}
.jumbotron__content__caption {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
}
.jumbotron__content__button {
  border: 2px solid white;
  background: transparent;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.3rem;
  max-width: 200px;
  cursor: pointer;

  // transition: opacity 2s ease 0.9s, transform 2s ease 0.9s;
}

.jumbotron__content__button:hover {
  border: 2px solid #eb6242;
  background-color: #eb6242;
}
.jumbotron__content__button:hover i {
  transform: rotateZ(90deg);
}
i {
  transition: 0.5s ease transform;
  margin-left: 10px;
}
.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 10000;
  position: absolute;
}
.nav-item {
  cursor: pointer;
  font-size: 2.1rem;
  margin: 2rem;
}
.nav-brand {
  letter-spacing: 0.1em;
  font-weight: 700;
  color: #eb6242;
}
.navbar #nav-icon4 {
  transform: scale(0.8);
}

.paint-hover {
  display: inline-block;
  color: #eb6242;
  overflow: hidden;
  background: linear-gradient(to right, #eb6242, #eb6242 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 500ms ease;
}
.paint-hover:hover {
  background-position: 0 100%;
}
.hamburger {
  z-index: 1000;
  position: fixed;
  background: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: 0.5s ease opacity;
}
.hamburger-closed {
  pointer-events: none;
  opacity: 0;
}
.hamburger-closed ul {
  transform: translateY(-100px);
}
.hamburger ul {
  transition: 0.5s ease transform;

  display: flex;
  flex-direction: column;
  color: white;
  list-style: none;
  padding: 0;
  margin: 10rem 25%;
}
.hamburger li {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 400;
}

.animate-bars {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 10000000;
}
